<div class="development-container">
    <mat-card appearance="outlined" class="card-box">
        <mat-card-header>
            <mat-card-subtitle>
                <div>
                    <h6 class="page-header">{{urlField}} Page</h6>
                    This page is under development and will be available soon.
                    <br> <strong>Note:</strong> This page is not yet functional and is a work in progress.
                </div>
            </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>