<mat-toolbar class="top-header-box">
  <span class="header-section">Welcome back, Olivia</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-stroked-button>
      <mat-icon>filter_list</mat-icon>
      Customize
    </button>
    <button class="mx-2" mat-stroked-button>
      <mat-icon>cloud_download</mat-icon>
      Export</button>
  </mat-toolbar>


  